<div class="p-10">
    <input type="text" v-model="username" class="form-control" placeholder="Username">
    <input type="password" v-model="password" class="form-control" placeholder="Password">
    <button class="btn btn-lg btn-primary" @click="login">Login</button>
    <button class="btn btn-lg btn-primary" @click="register">Register</button>
</div>
